@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@300;400&family=Poppins:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    
}

.nav-container {
    /* border: 2px solid red; */

    background-color: #b0e0e6;
    color: #006400;
    text-align: center;
}

.nav-brand {
    height: 5rem;
    font-size: 2.5rem;
    padding-top: 5px;
}

.nav-brand img {
    width: 30px;
}

.header {
    text-align: center;
    margin-top: 1rem;
}

.header img {
    width: 7rem;
}

.main {
    max-width: 80vw;
    margin: 1rem auto;
    text-align: center;
}

.main textarea {
    height: 12rem;
    width: 30vw;
    margin-top: 25px;
    padding: 1rem;
}

#txt-op {
    width: 30vw;
    height: 12rem;
    border: 1px solid black;
    padding: 1rem;
}

#btn-translate {
    border: none;
    font-family:'Montserrat', sans-serif;
    font-size: larger;
    font-size: medium;
    font-weight: bold;
    padding: 1rem 2rem;
    background-color: #b0e0e6;
    display: block;
    margin: 2rem auto;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;

}

#btn-translate:hover{
    background-color: rgba(145, 184, 187, 0.933)
}

.input-container,
.output-container {
    display: inline-block;
    vertical-align: top;
    /* Align elements vertically at the top */
    font-size: 16px;
    /* Reset font-size to avoid affecting child elements */
    margin: 10px;
    /* Adjust spacing as needed */
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #b0e0e6;
    padding: 10px 0;
    text-align: center;
    align-items: center;
    
}

.footer-header{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.para{
    display: block;
    margin: auto;
    max-width: 60vw;
}

.para p{
    margin: 0.5rem 0rem;
}